body {
	background-color: lightblue;
}

#sidemenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidemenu li a {
	display: block;
	width: 60px;
}

#intro p {
	text-align: center;
	margin: 20px;
}
