body {
	background-color: lightblue;
}

#sidemenu ul {
	background-color: darkorange;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

#sidemenu li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

#sidemenu li a:hover {
	background-color: #e24625;
	color: white;
}

.active {
	background-color: gold;
	color: white;
}

#intro p {
	text-align: center;
	margin: 20px;
}
